<!DOCTYPE html>
<html lang="en">
    <head>
      <title>form</title>
    </head>
    <body>
      <form action="/" method="post">
        <input type="text" name="name" value="Butch" placeholder="name">
        <input type="text" name="age" value="Mastiff" placeholder="age">
        <input type="text" name="breed" value="6 months" placeholder="breed">
        <input type="submit" name="submit" value="submit" placeholder="name">
      </form>
    </body>
  </html>
