<form method="post" action="/">
  <label>Puppy Name:<input type="text" name="name"></label>
  <label>Puppy breed<input type="text" name="breed"></label>
  <label>Puppy age<input type="text" name="age"></label>
  <input type="submit" value="submit">
</form>
