<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Display Puppy</title>
  </head>
  <body>
    <p>Puppy Name:</p>
    <%= @name %>
    <p>Puppy Breed:</p>
    <%= @breed %>
    <p>Puppy Age:</p>
    <%= @age %>
    <p><input type="submit" name="submit"></P>
  </body>
</html>
