<!DOCTYPE html>
  <html>
   <head></head>
   <body>
   	 <h1>Welcome</h1>
   	 	 <p>Puppy Name: <%= @puppy.name %></p>
    	 <p>Puppy Breed: <%= @puppy.breed %></p>
    	 <p>Puppy Age: <%= @puppy.age %></p>
   </body>
 </html>