<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Click Here To List A Puppy</h1>
    <p>Puppy Name: <%= @puppy.name %></p>
    <p>Puppy Breed: <%= @puppy.breed %></p>
    <p>Puppy Age: <%= @puppy.age %></p>
</body>
</html>
