<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Display Puppy</title>
  </head>
  <body>
    <h1>Your Puppy has been registered as:</h1>
    <p>Puppy Name: <%=@fido.name%></p>
    <p>Puppy Breed: <%=@fido.breed%></p>
    <p>Puppy Age: <%=@fido.age%></p>
  </body>
</html>
